body {
    margin: 0px;
    /*background-color: rgb(255,245,148);*/
}

.w1 {
    width: 12.5vw;
}

.w2 {
    width: 25vw;
}

.w3 {
    width: 37.5vw;
}

.w8 {
    width: 100vw;
}

.h1 {
    height: 20vh;
}

.h2 {
    height: 40vh;
}

.row {
    width: 100vw;
}

div {
    float: left;
    display: inline-block;
}

.container {
    overflow: hidden;
    float: left;
    display: inline-block;
    margin: 0px;
    background-size: cover;
}

.containerDark {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

[id*=description] {
    background-image: none;
    background-color: white;
}

#addImage {
  /*background-color: yellow;*/
  background-image: none;
}

#footer {
    background-color: blue;
    background-image: none;
}
.input {
	position: relative;
	display: inline-block;
  margin: 1.3em 1em 1em;

}

.input_field {
  text-align: left;
border: none;
float: right;
width: 100%;
background: transparent;
color: #AFB5BB;
font-size: 1.55em;
}

.input_field:focus {
	outline: none;
}

.input_label {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
  font-size: 70.25%;
  font-weight: light;
  font-family: helvetica;
  color: rgb(255,105,83);
  padding: 0 1em;

}

.input_label_content {
	position: relative;
	display: block;
	padding: 1.2em 0;
	width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input_label::before,
.input_label::after {
	content: '';
	position: absolute;
	left: 0;
	width: 90%;
	height: 2px;
	background: #6a7989;
	-webkit-transition: -webkit-transform 0.3s; */
 	transition: transform 0.3s;
}

.input_field:focus + .input_label .input_label_content,
.input--filled .input_label_content {
	-webkit-transform: translate3d(0, -90%, 0);
	transform: translate3d(0, -90%, 0);
}
